In [78]:
import pandas as pd
import numpy as np
import requests

In [4]:
import http.client, urllib.parse

conn = http.client.HTTPConnection('api.mediastack.com')

params = urllib.parse.urlencode({
    'access_key': '36907c284f0106194cf272eb9047f78e',
    'categories': 'general,business',
    'languages':'en', 
    'keywords': 'barclays',
    'sort': 'published_desc',
    'date': '2020-01-01',
    'limit': 100,
    })

conn.request('GET', '/v1/news?{}'.format(params))

res = conn.getresponse()
data = res.read()

print(data.decode('utf-8'))

{"pagination":{"limit":100,"offset":0,"count":0,"total":0},"data":[]}

In [29]:
pip install newsdataapi

Collecting newsdataapi
  Downloading newsdataapi-0.1.6-py3-none-any.whl (8.2 kB)
Requirement already satisfied: requests<3.0.0 in /Users/maiastasevich/opt/anaconda3/lib/python3.9/site-packages (from newsdataapi) (2.28.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/maiastasevich/opt/anaconda3/lib/python3.9/site-packages (from requests<3.0.0->newsdataapi) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/maiastasevich/opt/anaconda3/lib/python3.9/site-packages (from requests<3.0.0->newsdataapi) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in /Users/maiastasevich/opt/anaconda3/lib/python3.9/site-packages (from requests<3.0.0->newsdataapi) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/maiastasevich/opt/anaconda3/lib/python3.9/site-packages (from requests<3.0.0->newsdataapi) (2.0.4)
Installing collected packages: newsdataapi
Successfully installed newsdataapi-0.1.6
Note: you may need to restart the kernel to use updated packages.

In [2]:
from newsdataapi import NewsDataApiClient

# API key authorization, Initialize the client with your API key

api = NewsDataApiClient(apikey="pub_227206dfcfa6f8eb6adf487011cc264a18194")

# You can pass empty or with request parameters {ex. (country = "us")}

response = api.news_api( q= "barclays", category='environment,business' , country = "us", from_date='2020-01-01', to_date='2020-02-01')

In [3]:
response

{'status': 'success', 'totalResults': 0, 'results': [], 'nextPage': None}

In [6]:
url = 'https://dataapi.marketpsych.com/rma/v4/classes?apikey=rf_0niuaILLziXUW8RI0Bg'
requests.get(url).json()

{'data': [{'code': 'cou', 'name': 'Countries', 'altcode': 'COU'},
  {'code': 'coumkt', 'name': 'Country markets', 'altcode': 'COU_MKT'},
  {'code': 'equ', 'name': 'Companies', 'altcode': 'CMPNY'},
  {'code': 'equamer', 'name': 'Companies (Americas)', 'altcode': 'CMPNY_AMER'},
  {'code': 'equemea',
   'name': 'Companies (Europe, the Middle East and Africa)',
   'altcode': 'CMPNY_EMEA'},
  {'code': 'equapac',
   'name': 'Companies (Asia-Pacific)',
   'altcode': 'CMPNY_APAC'},
  {'code': 'etf', 'name': 'Company Groups', 'altcode': 'CMPNY_GRP'},
  {'code': 'agr', 'name': 'Agriculture', 'altcode': 'COM_AGR'},
  {'code': 'enm', 'name': 'Energy and Material', 'altcode': 'COM_ENM'},
  {'code': 'cur', 'name': 'Currencies', 'altcode': 'CUR'},
  {'code': 'crypto', 'name': 'Cryptocurrencies', 'altcode': 'CRYPTO'}]}

In [51]:
url = 'https://dataapi.marketpsych.com/rma/v4/data/equ/dai/4295905573?apikey=rf_demo12345678&start_date=2022-02-03&end_date=2022-02-04&format=csv'
pd.read_csv(url).drop(columns='id')

,assetCode,ticker,windowTimestamp,dataType,systemVersion,mentions,buzz,sentiment,negative,positive,...,layoffs,litigation,insiderLongShort,managementSentiment,managementChange,managementTrust,partnership,mergers,cyberCrime,futureVsPast
0,4295905573,AAPL,2022-02-03T20:30:00+00:00,News,4.0.12,4933.0,24841.6,-0.096330,0.293037,0.196706,...,NaN,0.007789,NaN,-0.001429,0.000322,0.000302,0.000362,0.000242,0.005897,-0.236861
1,4295905573,AAPL,2022-02-03T20:30:00+00:00,News_Headline,4.0.12,201.0,507.5,0.027586,0.271921,0.299507,...,NaN,0.025616,NaN,0.001970,NaN,NaN,NaN,0.001970,0.005911,-0.295567
2,4295905573,AAPL,2022-02-03T20:30:00+00:00,News_Social,4.0.12,9486.0,40046.1,-0.082225,0.289112,0.206887,...,0.000025,0.005369,0.000025,-0.000749,0.000325,0.000200,0.000387,0.000812,0.003871,-0.161128
3,4295905573,AAPL,2022-02-03T20:30:00+00:00,Social,4.0.12,4553.0,15204.5,-0.059180,0.282699,0.223519,...,0.000066,0.001414,0.000066,0.000362,0.000329,0.000033,0.000428,0.001743,0.000559,-0.037394

In [55]:
intro ="https://dataapi.marketpsych.com/rma/v4/data"
asset_class = "equemea"
freq = 'dai'
apikey= 'rf_0niuaILLziXUW8RI0Bg'
start_date='2022-01-01'
end_date='2023-05-23'
format_='csv'

## process

In [31]:
name='barclays'
name_search_url = 'https://dataapi.marketpsych.com/rma/v4/equ/assets?apikey=rf_demo12345678&search=' + name
name_guess_json=requests.get(name_search_url).json()
name_guess_pd=pd.DataFrame(name_guess['data'])

In [81]:
name_guess_json

{'data': [{'assetCode': '5000615107',
   'name': 'Barclays Advantaged Corporate Bond Fund',
   'RIC': 'BAC_u.TO^G08',
   'version': '4.0.28',
   'filedate': '2023-05-13',
   'PermID': '5000615107',
   'TRBC': '5550101010',
   'TRBC_PermID': '4294951310',
   'TRBCEconomicSector': 'Financials',
   'Ticker': 'BAC.UN',
   'MIC': None,
   'Domicile': 'CA',
   'ExchangeCountry': 'CA',
   'ExchangeCode': '197',
   'InfoCode': '63272',
   'Region': 'AMER',
   'status': 'inactive'},
  {'assetCode': '5000005399',
   'name': 'Barclays Bank Ireland PLC',
   'RIC': None,
   'version': '4.0.28',
   'filedate': '2023-05-13',
   'PermID': '5000005399',
   'TRBC': '5510101010',
   'TRBC_PermID': '4294951386',
   'TRBCEconomicSector': 'Financials',
   'Ticker': None,
   'MIC': None,
   'Domicile': 'IE',
   'ExchangeCountry': None,
   'ExchangeCode': '0',
   'InfoCode': '0',
   'Region': 'EMEA',
   'status': 'active'},
  {'assetCode': '4296470941',
   'name': 'Barclays Bank PLC',
   'RIC': None,
   'version': '4.0.28',
   'filedate': '2023-05-13',
   'PermID': '4296470941',
   'TRBC': '5510101010',
   'TRBC_PermID': '4294951386',
   'TRBCEconomicSector': 'Financials',
   'Ticker': 'PBUG',
   'MIC': 'ARCX',
   'Domicile': 'GB',
   'ExchangeCountry': 'US',
   'ExchangeCode': '244',
   'InfoCode': '340991',
   'Region': 'EMEA',
   'status': 'active'},
  {'assetCode': '5000125600',
   'name': 'Barclays Capital Asia Ltd',
   'RIC': None,
   'version': '4.0.28',
   'filedate': '2023-05-13',
   'PermID': '5000125600',
   'TRBC': '5510203010',
   'TRBC_PermID': '4294951354',
   'TRBCEconomicSector': 'Financials',
   'Ticker': None,
   'MIC': None,
   'Domicile': 'HK',
   'ExchangeCountry': None,
   'ExchangeCode': '0',
   'InfoCode': '0',
   'Region': 'APAC',
   'status': 'active'},
  {'assetCode': '5000206989',
   'name': 'Barclays Capital Canada Inc',
   'RIC': None,
   'version': '4.0.28',
   'filedate': '2023-05-13',
   'PermID': '5000206989',
   'TRBC': '5510203010',
   'TRBC_PermID': '4294951354',
   'TRBCEconomicSector': 'Financials',
   'Ticker': None,
   'MIC': None,
   'Domicile': 'CA',
   'ExchangeCountry': None,
   'ExchangeCode': '0',
   'InfoCode': '0',
   'Region': 'AMER',
   'status': 'active'},
  {'assetCode': '8589934333',
   'name': 'Barclays PLC',
   'RIC': 'BARC.L',
   'version': '4.0.28',
   'filedate': '2023-05-13',
   'PermID': '8589934333',
   'TRBC': '5510101010',
   'TRBC_PermID': '4294951386',
   'TRBCEconomicSector': 'Financials',
   'Ticker': 'BARC',
   'MIC': 'XLON',
   'Domicile': 'GB',
   'ExchangeCountry': 'GB',
   'ExchangeCode': '104',
   'InfoCode': '46028',
   'Region': 'EMEA',
   'status': 'active'},
  {'assetCode': '5000021667',
   'name': 'Barclays Securities Japan Ltd',
   'RIC': None,
   'version': '4.0.28',
   'filedate': '2023-05-13',
   'PermID': '5000021667',
   'TRBC': '5510201010',
   'TRBC_PermID': '4294951368',
   'TRBCEconomicSector': 'Financials',
   'Ticker': None,
   'MIC': None,
   'Domicile': 'JP',
   'ExchangeCountry': None,
   'ExchangeCode': '0',
   'InfoCode': '0',
   'Region': 'APAC',
   'status': 'active'},
  {'assetCode': '5000708715',
   'name': 'Barclays Wealth Trustees (India) Pvt Ltd',
   'RIC': None,
   'version': '4.0.28',
   'filedate': '2023-05-13',
   'PermID': '5000708715',
   'TRBC': '0',
   'TRBC_PermID': '0',
   'TRBCEconomicSector': None,
   'Ticker': None,
   'MIC': None,
   'Domicile': 'IN',
   'ExchangeCountry': None,
   'ExchangeCode': '0',
   'InfoCode': '0',
   'Region': 'APAC',
   'status': 'active'}]}

In [32]:
options=name_guess_pd['name']

In [83]:
name_guess_pd

,assetCode,name,RIC,version,filedate,PermID,TRBC,TRBC_PermID,TRBCEconomicSector,Ticker,MIC,Domicile,ExchangeCountry,ExchangeCode,InfoCode,Region,status
0,5000615107,Barclays Advantaged Corporate Bond Fund,BAC_u.TO^G08,4.0.28,2023-05-13,5000615107,5550101010,4294951310,Financials,BAC.UN,None,CA,CA,197,63272,AMER,inactive
1,5000005399,Barclays Bank Ireland PLC,None,4.0.28,2023-05-13,5000005399,5510101010,4294951386,Financials,None,None,IE,None,0,0,EMEA,active
2,4296470941,Barclays Bank PLC,None,4.0.28,2023-05-13,4296470941,5510101010,4294951386,Financials,PBUG,ARCX,GB,US,244,340991,EMEA,active
3,5000125600,Barclays Capital Asia Ltd,None,4.0.28,2023-05-13,5000125600,5510203010,4294951354,Financials,None,None,HK,None,0,0,APAC,active
4,5000206989,Barclays Capital Canada Inc,None,4.0.28,2023-05-13,5000206989,5510203010,4294951354,Financials,None,None,CA,None,0,0,AMER,active
5,8589934333,Barclays PLC,BARC.L,4.0.28,2023-05-13,8589934333,5510101010,4294951386,Financials,BARC,XLON,GB,GB,104,46028,EMEA,active
6,5000021667,Barclays Securities Japan Ltd,None,4.0.28,2023-05-13,5000021667,5510201010,4294951368,Financials,None,None,JP,None,0,0,APAC,active
7,5000708715,Barclays Wealth Trustees (India) Pvt Ltd,None,4.0.28,2023-05-13,5000708715,0,0,None,None,None,IN,None,0,0,APAC,active

In [33]:
user_input = ''

input_message = "Pick an option by typing the number:\n"

for index, item in enumerate(options):
    input_message += f'{index+1}) {item}\n'

input_message += 'Your choice: '

while user_input not in map(str, range(1, len(options) + 1)):
    user_input = input(input_message)

    
print('You picked: ' + options[int(user_input) - 1])

name_guess=options[int(user_input) - 1]

Pick an option by typing the number:
1) Barclays Advantaged Corporate Bond Fund
2) Barclays Bank Ireland PLC
3) Barclays Bank PLC
4) Barclays Capital Asia Ltd
5) Barclays Capital Canada Inc
6) Barclays PLC
7) Barclays Securities Japan Ltd
8) Barclays Wealth Trustees (India) Pvt Ltd
Your choice: 3
You picked: Barclays Bank PLC

In [34]:
name_guess

'Barclays Bank PLC'

In [94]:
ticker='BARC'

In [95]:
asset_code=name_guess_pd[name_guess_pd['Ticker']==ticker].reset_index()['assetCode'][0]

In [96]:
asset_code

'8589934333'

In [97]:
url = f'{intro}/{asset_class}/{freq}/{asset_code}?apikey={apikey}&start_date={start_date}&end_date={end_date}&format={format_}'
req=requests.get(url)

In [98]:
df=pd.read_csv(url)

In [99]:
df['Y']=df['windowTimestamp'].str[:4]

In [100]:
df

,id,assetCode,ticker,windowTimestamp,dataType,systemVersion,mentions,buzz,sentiment,negative,...,litigation,insiderLongShort,managementSentiment,managementChange,managementTrust,partnership,mergers,cyberCrime,futureVsPast,Y
0,mp:2022-01-01_20.30.00.News.CMPNY.8589934333,8589934333,BARC,2022-01-01T20:30:00+00:00,News,4.0.11,2.0,14.0,0.500000,0.142857,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.428571,2022
1,mp:2022-01-01_20.30.00.News_Headline.CMPNY.858...,8589934333,BARC,2022-01-01T20:30:00+00:00,News_Headline,4.0.11,1.0,3.0,1.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
2,mp:2022-01-01_20.30.00.News_Social.CMPNY.85899...,8589934333,BARC,2022-01-01T20:30:00+00:00,News_Social,4.0.11,42.0,124.0,0.213710,0.165323,...,0.008065,NaN,-0.008065,0.016129,NaN,NaN,NaN,NaN,-0.346774,2022
3,mp:2022-01-01_20.30.00.Social.CMPNY.8589934333,8589934333,BARC,2022-01-01T20:30:00+00:00,Social,4.0.11,40.0,110.0,0.177273,0.168182,...,0.009091,NaN,-0.009091,0.018182,NaN,NaN,NaN,NaN,-0.336364,2022
4,mp:2022-01-02_20.30.00.News_Social.CMPNY.85899...,8589934333,BARC,2022-01-02T20:30:00+00:00,News_Social,4.0.11,69.0,208.0,-0.194712,0.334135,...,0.014423,NaN,-0.014423,0.019231,-0.009615,NaN,NaN,NaN,-0.141827,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1948,mp:2023-05-21_19.30.00.Social.CMPNY.8589934333,8589934333,BARC,2023-05-21T19:30:00+00:00,Social,4.0.28,106.0,405.5,0.083847,0.254007,...,0.004932,NaN,0.001233,NaN,NaN,NaN,NaN,0.002466,-0.167694,2023
1949,mp:2023-05-22_19.30.00.News.CMPNY.8589934333,8589934333,BARC,2023-05-22T19:30:00+00:00,News,4.0.28,144.0,602.5,0.141079,0.198340,...,NaN,NaN,NaN,NaN,NaN,NaN,0.003320,NaN,-0.301245,2023
1950,mp:2023-05-22_19.30.00.News_Headline.CMPNY.858...,8589934333,BARC,2023-05-22T19:30:00+00:00,News_Headline,4.0.28,22.0,19.0,-0.078947,0.342105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.026316,2023
1951,mp:2023-05-22_19.30.00.News_Social.CMPNY.85899...,8589934333,BARC,2023-05-22T19:30:00+00:00,News_Social,4.0.28,292.0,1162.0,0.045611,0.243976,...,NaN,NaN,-0.001721,NaN,0.000000,NaN,0.001721,NaN,-0.280981,2023
1952,mp:2023-05-22_19.30.00.Social.CMPNY.8589934333,8589934333,BARC,2023-05-22T19:30:00+00:00,Social,4.0.28,148.0,559.5,-0.057194,0.293119,...,NaN,NaN,-0.003575,NaN,0.000000,NaN,NaN,NaN,-0.259160,2023

In [101]:
df.groupby(['Y','dataType']).sum()[['mentions','buzz']]

                    mentions       buzz
Y    dataType
2022 News            25685.0  163310.95
     News_Headline    5761.0   11334.55
     News_Social     73377.0  321288.80
     Social          47692.0  157977.85
2023 News            13219.0   78900.70
     News_Headline    2648.0    4660.20
     News_Social     30780.0  144473.10
     Social          17561.0   65572.40

In [102]:
result=pd.pivot_table(df.fillna(0), 
               index='Y', 
               columns='dataType', 
               values= ['laborDispute',
                      'layoffs',
                      'managementTrust', 
                      'innovation',
                      'mentions',
                      'buzz'],
               aggfunc={'laborDispute': np.max, 
                        'layoffs': np.max, 
                        'managementTrust': np.max, 
                        'innovation': np.max,
                        'mentions': np.sum,
                        'buzz': np.sum}
              )

In [103]:
result

               buzz                                      innovation  \
dataType       News News_Headline News_Social     Social       News
Y
2022      163310.95      11334.55    321288.8  157977.85   0.048426
2023       78900.70       4660.20    144473.1   65572.40   0.019231

                                             laborDispute                ...  \
dataType News_Headline News_Social    Social         News News_Headline  ...
Y                                                                        ...
2022          0.035714    0.016913  0.012500     0.027548      0.033333  ...
2023          0.013072    0.008229  0.019417     0.015662      0.041667  ...

             layoffs           managementTrust                            \
dataType News_Social    Social            News News_Headline News_Social
Y
2022        0.021955  0.021724        0.055300      0.057143    0.027125
2023        0.006993  0.025852        0.015456      0.000000    0.019538

                   mentions
dataType    Social     News News_Headline News_Social   Social
Y
2022      0.044177  25685.0        5761.0     73377.0  47692.0
2023      0.029254  13219.0        2648.0     30780.0  17561.0

[2 rows x 24 columns]

In [106]:
def Market_psych_data(company, ticker):
    
    #presetings for the API
    intro ="https://dataapi.marketpsych.com/rma/v4/data"
    asset_class = "equemea"
    freq = 'dai'
    apikey= 'rf_0niuaILLziXUW8RI0Bg'
    start_date='2022-01-01'
    end_date='2023-05-23'
    format_='csv'
    
    #Search the company to get the asset code
    name_search_url = 'https://dataapi.marketpsych.com/rma/v4/equ/assets?apikey=rf_demo12345678&search=' + company
    name_guess_json=requests.get(name_search_url).json()
    name_guess_pd=pd.DataFrame(name_guess_json['data'])
    #we match by Ticker
    asset_code=name_guess_pd[name_guess_pd['Ticker']==ticker].reset_index()['assetCode'][0]
    
    #we build the url for the request of sentiment info
    url = f'{intro}/{asset_class}/{freq}/{asset_code}?apikey={apikey}&start_date={start_date}&end_date={end_date}&format={format_}'
    
    #get the request and turn it into a DataFrame
    req=requests.get(url)
    df=pd.read_csv(url)
    
    #group by year
    df['Y']=df['windowTimestamp'].str[:4]
    result=pd.pivot_table(df.fillna(0), 
               index='Y', 
               columns='dataType', 
               values= ['laborDispute',
                      'layoffs',
                      'managementTrust', 
                      'innovation',
                      'mentions',
                      'buzz'],
               aggfunc={'laborDispute': np.max, 
                        'layoffs': np.max, 
                        'managementTrust': np.max, 
                        'innovation': np.max,
                        'mentions': np.sum,
                        'buzz': np.sum}
              )
    
    return result

In [107]:
Market_psych_data('Barclays', 'BARC')

               buzz                                      innovation  \
dataType       News News_Headline News_Social     Social       News
Y
2022      163310.95      11334.55    321288.8  157977.85   0.048426
2023       78900.70       4660.20    144473.1   65572.40   0.019231

                                             laborDispute                ...  \
dataType News_Headline News_Social    Social         News News_Headline  ...
Y                                                                        ...
2022          0.035714    0.016913  0.012500     0.027548      0.033333  ...
2023          0.013072    0.008229  0.019417     0.015662      0.041667  ...

             layoffs           managementTrust                            \
dataType News_Social    Social            News News_Headline News_Social
Y
2022        0.021955  0.021724        0.055300      0.057143    0.027125
2023        0.006993  0.025852        0.015456      0.000000    0.019538

                   mentions
dataType    Social     News News_Headline News_Social   Social
Y
2022      0.044177  25685.0        5761.0     73377.0  47692.0
2023      0.029254  13219.0        2648.0     30780.0  17561.0

[2 rows x 24 columns]