In [1]:
import pandas as pd
import numpy as np
import requests
import os
from tqdm.auto import tqdm

## Trying different APIs for More News

In [2]:
import http.client, urllib.parse

conn = http.client.HTTPConnection('api.mediastack.com')

params = urllib.parse.urlencode({
    'access_key': '36907c284f0106194cf272eb9047f78e',
    'categories': 'general,business',
    'languages':'en', 
    'keywords': 'barclays',
    'sort': 'published_desc',
    'date': '2020-01-01',
    'limit': 100,
    })

conn.request('GET', '/v1/news?{}'.format(params))

res = conn.getresponse()
data = res.read()

print(data.decode('utf-8'))

{"pagination":{"limit":100,"offset":0,"count":0,"total":0},"data":[]}

In [3]:
from newsdataapi import NewsDataApiClient

# API key authorization, Initialize the client with your API key

api = NewsDataApiClient(apikey="pub_227206dfcfa6f8eb6adf487011cc264a18194")

# You can pass empty or with request parameters {ex. (country = "us")}

response = api.news_api( q= "barclays", category='environment,business' , country = "us", from_date='2020-01-01', to_date='2020-02-01')

TypeError: news_api() got an unexpected keyword argument 'from_date'

In [ ]:
response

# Market Psych

In [4]:
url = 'https://dataapi.marketpsych.com/rma/v4/classes?apikey=rf_0niuaILLziXUW8RI0Bg'
requests.get(url).json()

{'data': [{'code': 'cou', 'name': 'Countries', 'altcode': 'COU'},
  {'code': 'coumkt', 'name': 'Country markets', 'altcode': 'COU_MKT'},
  {'code': 'equ', 'name': 'Companies', 'altcode': 'CMPNY'},
  {'code': 'equamer', 'name': 'Companies (Americas)', 'altcode': 'CMPNY_AMER'},
  {'code': 'equemea',
   'name': 'Companies (Europe, the Middle East and Africa)',
   'altcode': 'CMPNY_EMEA'},
  {'code': 'equapac',
   'name': 'Companies (Asia-Pacific)',
   'altcode': 'CMPNY_APAC'},
  {'code': 'etf', 'name': 'Company Groups', 'altcode': 'CMPNY_GRP'},
  {'code': 'agr', 'name': 'Agriculture', 'altcode': 'COM_AGR'},
  {'code': 'enm', 'name': 'Energy and Material', 'altcode': 'COM_ENM'},
  {'code': 'cur', 'name': 'Currencies', 'altcode': 'CUR'},
  {'code': 'crypto', 'name': 'Cryptocurrencies', 'altcode': 'CRYPTO'}]}

In [5]:
url = 'https://dataapi.marketpsych.com/rma/v4/data/equ/dai/4295905573?apikey=rf_demo12345678&start_date=2022-02-03&end_date=2022-02-04&format=csv'
pd.read_csv(url).drop(columns='id')

,assetCode,ticker,windowTimestamp,dataType,systemVersion,mentions,buzz,sentiment,negative,positive,...,layoffs,litigation,insiderLongShort,managementSentiment,managementChange,managementTrust,partnership,mergers,cyberCrime,futureVsPast
0,4295905573,AAPL,2022-02-03T20:30:00+00:00,News,4.0.12,4933.0,24841.6,-0.096330,0.293037,0.196706,...,NaN,0.007789,NaN,-0.001429,0.000322,0.000302,0.000362,0.000242,0.005897,-0.236861
1,4295905573,AAPL,2022-02-03T20:30:00+00:00,News_Headline,4.0.12,201.0,507.5,0.027586,0.271921,0.299507,...,NaN,0.025616,NaN,0.001970,NaN,NaN,NaN,0.001970,0.005911,-0.295567
2,4295905573,AAPL,2022-02-03T20:30:00+00:00,News_Social,4.0.12,9486.0,40046.1,-0.082225,0.289112,0.206887,...,0.000025,0.005369,0.000025,-0.000749,0.000325,0.000200,0.000387,0.000812,0.003871,-0.161128
3,4295905573,AAPL,2022-02-03T20:30:00+00:00,Social,4.0.12,4553.0,15204.5,-0.059180,0.282699,0.223519,...,0.000066,0.001414,0.000066,0.000362,0.000329,0.000033,0.000428,0.001743,0.000559,-0.037394

In [6]:
intro ="https://dataapi.marketpsych.com/rma/v4/data"
asset_class = "equemea"
freq = 'dai'
apikey= 'rf_0niuaILLziXUW8RI0Bg'
start_date='2022-01-01'
end_date='2023-05-23'
format_='csv'

## process

In [9]:
name='barclays'
name_search_url = 'https://dataapi.marketpsych.com/rma/v4/equ/assets?apikey=rf_demo12345678&search=' + name
name_guess_json=requests.get(name_search_url).json()
name_guess_pd=pd.DataFrame(name_guess_json['data'])

In [10]:
name_guess_json

{'data': [{'assetCode': '5000615107',
   'name': 'Barclays Advantaged Corporate Bond Fund',
   'RIC': 'BAC_u.TO^G08',
   'version': '4.0.28',
   'filedate': '2023-05-13',
   'PermID': '5000615107',
   'TRBC': '5550101010',
   'TRBC_PermID': '4294951310',
   'TRBCEconomicSector': 'Financials',
   'Ticker': 'BAC.UN',
   'MIC': None,
   'Domicile': 'CA',
   'ExchangeCountry': 'CA',
   'ExchangeCode': '197',
   'InfoCode': '63272',
   'Region': 'AMER',
   'status': 'inactive'},
  {'assetCode': '5000005399',
   'name': 'Barclays Bank Ireland PLC',
   'RIC': None,
   'version': '4.0.28',
   'filedate': '2023-05-13',
   'PermID': '5000005399',
   'TRBC': '5510101010',
   'TRBC_PermID': '4294951386',
   'TRBCEconomicSector': 'Financials',
   'Ticker': None,
   'MIC': None,
   'Domicile': 'IE',
   'ExchangeCountry': None,
   'ExchangeCode': '0',
   'InfoCode': '0',
   'Region': 'EMEA',
   'status': 'active'},
  {'assetCode': '4296470941',
   'name': 'Barclays Bank PLC',
   'RIC': None,
   'version': '4.0.28',
   'filedate': '2023-05-13',
   'PermID': '4296470941',
   'TRBC': '5510101010',
   'TRBC_PermID': '4294951386',
   'TRBCEconomicSector': 'Financials',
   'Ticker': 'PBUG',
   'MIC': 'ARCX',
   'Domicile': 'GB',
   'ExchangeCountry': 'US',
   'ExchangeCode': '244',
   'InfoCode': '340991',
   'Region': 'EMEA',
   'status': 'active'},
  {'assetCode': '5000125600',
   'name': 'Barclays Capital Asia Ltd',
   'RIC': None,
   'version': '4.0.28',
   'filedate': '2023-05-13',
   'PermID': '5000125600',
   'TRBC': '5510203010',
   'TRBC_PermID': '4294951354',
   'TRBCEconomicSector': 'Financials',
   'Ticker': None,
   'MIC': None,
   'Domicile': 'HK',
   'ExchangeCountry': None,
   'ExchangeCode': '0',
   'InfoCode': '0',
   'Region': 'APAC',
   'status': 'active'},
  {'assetCode': '5000206989',
   'name': 'Barclays Capital Canada Inc',
   'RIC': None,
   'version': '4.0.28',
   'filedate': '2023-05-13',
   'PermID': '5000206989',
   'TRBC': '5510203010',
   'TRBC_PermID': '4294951354',
   'TRBCEconomicSector': 'Financials',
   'Ticker': None,
   'MIC': None,
   'Domicile': 'CA',
   'ExchangeCountry': None,
   'ExchangeCode': '0',
   'InfoCode': '0',
   'Region': 'AMER',
   'status': 'active'},
  {'assetCode': '8589934333',
   'name': 'Barclays PLC',
   'RIC': 'BARC.L',
   'version': '4.0.28',
   'filedate': '2023-05-13',
   'PermID': '8589934333',
   'TRBC': '5510101010',
   'TRBC_PermID': '4294951386',
   'TRBCEconomicSector': 'Financials',
   'Ticker': 'BARC',
   'MIC': 'XLON',
   'Domicile': 'GB',
   'ExchangeCountry': 'GB',
   'ExchangeCode': '104',
   'InfoCode': '46028',
   'Region': 'EMEA',
   'status': 'active'},
  {'assetCode': '5000021667',
   'name': 'Barclays Securities Japan Ltd',
   'RIC': None,
   'version': '4.0.28',
   'filedate': '2023-05-13',
   'PermID': '5000021667',
   'TRBC': '5510201010',
   'TRBC_PermID': '4294951368',
   'TRBCEconomicSector': 'Financials',
   'Ticker': None,
   'MIC': None,
   'Domicile': 'JP',
   'ExchangeCountry': None,
   'ExchangeCode': '0',
   'InfoCode': '0',
   'Region': 'APAC',
   'status': 'active'},
  {'assetCode': '5000708715',
   'name': 'Barclays Wealth Trustees (India) Pvt Ltd',
   'RIC': None,
   'version': '4.0.28',
   'filedate': '2023-05-13',
   'PermID': '5000708715',
   'TRBC': '0',
   'TRBC_PermID': '0',
   'TRBCEconomicSector': None,
   'Ticker': None,
   'MIC': None,
   'Domicile': 'IN',
   'ExchangeCountry': None,
   'ExchangeCode': '0',
   'InfoCode': '0',
   'Region': 'APAC',
   'status': 'active'}]}

In [11]:
options=name_guess_pd['name']

In [12]:
name_guess_pd

,assetCode,name,RIC,version,filedate,PermID,TRBC,TRBC_PermID,TRBCEconomicSector,Ticker,MIC,Domicile,ExchangeCountry,ExchangeCode,InfoCode,Region,status
0,5000615107,Barclays Advantaged Corporate Bond Fund,BAC_u.TO^G08,4.0.28,2023-05-13,5000615107,5550101010,4294951310,Financials,BAC.UN,None,CA,CA,197,63272,AMER,inactive
1,5000005399,Barclays Bank Ireland PLC,None,4.0.28,2023-05-13,5000005399,5510101010,4294951386,Financials,None,None,IE,None,0,0,EMEA,active
2,4296470941,Barclays Bank PLC,None,4.0.28,2023-05-13,4296470941,5510101010,4294951386,Financials,PBUG,ARCX,GB,US,244,340991,EMEA,active
3,5000125600,Barclays Capital Asia Ltd,None,4.0.28,2023-05-13,5000125600,5510203010,4294951354,Financials,None,None,HK,None,0,0,APAC,active
4,5000206989,Barclays Capital Canada Inc,None,4.0.28,2023-05-13,5000206989,5510203010,4294951354,Financials,None,None,CA,None,0,0,AMER,active
5,8589934333,Barclays PLC,BARC.L,4.0.28,2023-05-13,8589934333,5510101010,4294951386,Financials,BARC,XLON,GB,GB,104,46028,EMEA,active
6,5000021667,Barclays Securities Japan Ltd,None,4.0.28,2023-05-13,5000021667,5510201010,4294951368,Financials,None,None,JP,None,0,0,APAC,active
7,5000708715,Barclays Wealth Trustees (India) Pvt Ltd,None,4.0.28,2023-05-13,5000708715,0,0,None,None,None,IN,None,0,0,APAC,active

In [13]:
user_input = ''

input_message = "Pick an option by typing the number:\n"

for index, item in enumerate(options):
    input_message += f'{index+1}) {item}\n'

input_message += 'Your choice: '

while user_input not in map(str, range(1, len(options) + 1)):
    user_input = input(input_message)

    
print('You picked: ' + options[int(user_input) - 1])

name_guess=options[int(user_input) - 1]

Pick an option by typing the number:
1) Barclays Advantaged Corporate Bond Fund
2) Barclays Bank Ireland PLC
3) Barclays Bank PLC
4) Barclays Capital Asia Ltd
5) Barclays Capital Canada Inc
6) Barclays PLC
7) Barclays Securities Japan Ltd
8) Barclays Wealth Trustees (India) Pvt Ltd
Your choice: 3
You picked: Barclays Bank PLC

In [14]:
name_guess

'Barclays Bank PLC'

In [15]:
ticker_='BARC'

In [16]:
asset_code=name_guess_pd[name_guess_pd['Ticker']==ticker_].reset_index()['assetCode'][0]

In [17]:
asset_code

'8589934333'

In [18]:
url = f'{intro}/{asset_class}/{freq}/{asset_code}?apikey={apikey}&start_date={start_date}&end_date={end_date}&format={format_}'
req=requests.get(url)

In [19]:
df=pd.read_csv(url)

In [20]:
df['Y']=df['windowTimestamp'].str[:4]

In [21]:
df

,id,assetCode,ticker,windowTimestamp,dataType,systemVersion,mentions,buzz,sentiment,negative,...,litigation,insiderLongShort,managementSentiment,managementChange,managementTrust,partnership,mergers,cyberCrime,futureVsPast,Y
0,mp:2022-01-01_20.30.00.News.CMPNY.8589934333,8589934333,BARC,2022-01-01T20:30:00+00:00,News,4.0.11,2.0,14.0,0.500000,0.142857,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.428571,2022
1,mp:2022-01-01_20.30.00.News_Headline.CMPNY.858...,8589934333,BARC,2022-01-01T20:30:00+00:00,News_Headline,4.0.11,1.0,3.0,1.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
2,mp:2022-01-01_20.30.00.News_Social.CMPNY.85899...,8589934333,BARC,2022-01-01T20:30:00+00:00,News_Social,4.0.11,42.0,124.0,0.213710,0.165323,...,0.008065,NaN,-0.008065,0.016129,NaN,NaN,NaN,NaN,-0.346774,2022
3,mp:2022-01-01_20.30.00.Social.CMPNY.8589934333,8589934333,BARC,2022-01-01T20:30:00+00:00,Social,4.0.11,40.0,110.0,0.177273,0.168182,...,0.009091,NaN,-0.009091,0.018182,NaN,NaN,NaN,NaN,-0.336364,2022
4,mp:2022-01-02_20.30.00.News_Social.CMPNY.85899...,8589934333,BARC,2022-01-02T20:30:00+00:00,News_Social,4.0.11,69.0,208.0,-0.194712,0.334135,...,0.014423,NaN,-0.014423,0.019231,-0.009615,NaN,NaN,NaN,-0.141827,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1948,mp:2023-05-21_19.30.00.Social.CMPNY.8589934333,8589934333,BARC,2023-05-21T19:30:00+00:00,Social,4.0.28,106.0,405.5,0.083847,0.254007,...,0.004932,NaN,0.001233,NaN,NaN,NaN,NaN,0.002466,-0.167694,2023
1949,mp:2023-05-22_19.30.00.News.CMPNY.8589934333,8589934333,BARC,2023-05-22T19:30:00+00:00,News,4.0.28,144.0,602.5,0.141079,0.198340,...,NaN,NaN,NaN,NaN,NaN,NaN,0.003320,NaN,-0.301245,2023
1950,mp:2023-05-22_19.30.00.News_Headline.CMPNY.858...,8589934333,BARC,2023-05-22T19:30:00+00:00,News_Headline,4.0.28,22.0,19.0,-0.078947,0.342105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.026316,2023
1951,mp:2023-05-22_19.30.00.News_Social.CMPNY.85899...,8589934333,BARC,2023-05-22T19:30:00+00:00,News_Social,4.0.28,292.0,1162.0,0.045611,0.243976,...,NaN,NaN,-0.001721,NaN,0.000000,NaN,0.001721,NaN,-0.280981,2023
1952,mp:2023-05-22_19.30.00.Social.CMPNY.8589934333,8589934333,BARC,2023-05-22T19:30:00+00:00,Social,4.0.28,148.0,559.5,-0.057194,0.293119,...,NaN,NaN,-0.003575,NaN,0.000000,NaN,NaN,NaN,-0.259160,2023

In [22]:
result=pd.pivot_table(df.fillna(0), 
               index='Y', 
               columns='dataType', 
               values= ['laborDispute',
                      'layoffs',
                      'managementTrust', 
                      'innovation',
                      'mentions',
                      'buzz'],
               aggfunc={'laborDispute': np.max, 
                        'layoffs': np.max, 
                        'managementTrust': np.max, 
                        'innovation': np.max,
                        'mentions': np.sum,
                        'buzz': np.sum}
              )

In [23]:
result

               buzz                                      innovation  \
dataType       News News_Headline News_Social     Social       News
Y
2022      163310.95      11334.55    321288.8  157977.85   0.048426
2023       78900.70       4660.20    144473.1   65572.40   0.019231

                                             laborDispute                ...  \
dataType News_Headline News_Social    Social         News News_Headline  ...
Y                                                                        ...
2022          0.035714    0.016913  0.012500     0.027548      0.033333  ...
2023          0.013072    0.008229  0.019417     0.015662      0.041667  ...

             layoffs           managementTrust                            \
dataType News_Social    Social            News News_Headline News_Social
Y
2022        0.021955  0.021724        0.055300      0.057143    0.027125
2023        0.006993  0.025852        0.015456      0.000000    0.019538

                   mentions
dataType    Social     News News_Headline News_Social   Social
Y
2022      0.044177  25685.0        5761.0     73377.0  47692.0
2023      0.029254  13219.0        2648.0     30780.0  17561.0

[2 rows x 24 columns]

## Function

In [108]:
def Market_psych_data(company, tick):
    
    #presetings for the API
    intro ="https://dataapi.marketpsych.com/rma/v4/data"
    asset_class = "equemea"
    freq = 'dai'
    apikey= 'rf_0niuaILLziXUW8RI0Bg'
    start_date='2022-01-01'
    end_date='2023-05-23'
    format_='csv'
    
    #Search the company to get the asset code
    print(f'looking for {company}...')
    name_search_url = 'https://dataapi.marketpsych.com/rma/v4/equ/assets?apikey=rf_demo12345678&search=' + company
    name_guess_json=requests.get(name_search_url).json()
    name_guess_pd=pd.DataFrame(name_guess_json['data'])
    if len(name_guess_pd)==0:
        print(f'mission value for {company}\n')
    else:
        #we match by Ticker
        if len(name_guess_pd[name_guess_pd['Ticker']==tick])==0:
            print(f'mission value for {company}\n')
        else:
            asset_code=name_guess_pd[name_guess_pd['Ticker']==tick].reset_index()['assetCode'][0]
            print(f'matched to {asset_code} by {tick} \n ')

            #we build the url for the request of sentiment info
            url = f'{intro}/{asset_class}/{freq}/{asset_code}?apikey={apikey}&start_date={start_date}&end_date={end_date}&format={format_}'
            print('making request...')
            #get the request and turn it into a DataFrame
            req=requests.get(url)
            if req.status_code != 200:
                print(f'request failed missing value for {company} \n ')
            else:
                df=pd.read_csv(url)
                print('Done \n ')

                #group by year
                df['Y']=df['windowTimestamp'].str[:4]
                result=pd.pivot_table(df.fillna(0), 
                           index='Y', 
                           columns='dataType', 
                           values= ['laborDispute',
                                  'layoffs',
                                  'managementTrust', 
                                  'innovation',
                                  'mentions',
                                  'buzz'],
                           aggfunc={'laborDispute': np.max, 
                                    'layoffs': np.max, 
                                    'managementTrust': np.max, 
                                    'innovation': np.max,
                                    'mentions': np.sum,
                                    'buzz': np.sum}
                          )
                result['ticker']=tick

                colu=[ (c[0]+'_'+c[1]).replace(' ','') 
                      for c in result.columns.tolist()]
                result.columns=colu

                return result

## Test

In [25]:
datapath=os.getcwd()[:-len('notebook')] + "data/"
FTSE100_data=pd.read_csv(datapath+'FTSE100.csv')

In [74]:
FTSE100_data.iloc[6]

No                                                    7
Ticker                                              SKG
Name         SMURFIT KAPPA GROUP PLC ORD EUR0.001 (CDI)
Currency                                            GBX
MarketCap                                      7,788.87
Price                                          3,032.00
Query                                             SKG.L
Name: 6, dtype: object

In [81]:
loop_ftse=[dict({'company_aprox':FTSE100_data['Name'].str[:6][x],
                 'ticker':FTSE100_data.Ticker[x]}
               )for x in range(len(FTSE100_data))]

In [104]:
Market_psych_data(loop_ftse[32]['company_aprox'], loop_ftse[32]['ticker'] )

looking for SHELL ...
matched to 4295885922 by SHEL

making request...
request failed missing value for SHELL

In [109]:
data=[Market_psych_data(loop_ftse[n]['company_aprox'],
                        loop_ftse[n]['ticker'] ) 
      for n in tqdm(range(len(loop_ftse)))]

  0%|          | 0/100 [00:00<?, ?it/s]

looking for LAND S...
matched to 4295895028 by LAND

making request...
Done

looking for BRITIS...
matched to 4295894958 by BLND

making request...
Done

looking for HARGRE...
matched to 4295894303 by HL.

making request...
Done

looking for MONDI ...
matched to 4295898932 by MNDI

making request...
Done

looking for KINGFI...
matched to 4295895853 by KGF

making request...
Done

looking for BARCLA...
matched to 8589934333 by BARC

making request...
Done

looking for SMURFI...
mission value for SMURFI

looking for UNITE ...
matched to 4295896475 by UTG

making request...
Done

looking for JOHNSO...
matched to 4295894789 by JMAT

making request...
Done

looking for VODAFO...
matched to 4295896661 by VOD

making request...
Done

looking for STANDA...
matched to 5000670969 by STAN

making request...
Done

looking for BRITIS...
matched to 4295894777 by BATS

making request...
Done

looking for OCADO ...
matched to 5000799571 by OCDO

making request...
Done

looking for WHITBR...
matched to 4295894799 by WTB

making request...
Done

looking for AVIVA ...
matched to 8589934340 by AV.

making request...
Done

looking for SCOTTI...
matched to 4295895352 by SMT

making request...
Done

looking for AIRTEL...
matched to 5066574810 by AAF

making request...
Done

looking for IMPERI...
matched to 4295894647 by IMB

making request...
Done

looking for INTERT...
matched to 4295896316 by ITRK

making request...
Done

looking for NATWES...
matched to 8589934212 by NWG

making request...
Done

looking for LLOYDS...
matched to 8589934254 by LLOY

making request...
Done

looking for SSE PL...
matched to 4295894191 by SSE

making request...
Done

looking for NATION...
matched to 4295894468 by NG.

making request...
Done

looking for SEGRO ...
matched to 4295895174 by SGRO

making request...
Done

looking for LEGAL ...
matched to 4295895043 by LGEN

making request...
Done

looking for PHOENI...
matched to 4295880860 by PHNX

making request...
Done

looking for BEAZLE...
matched to 5050718643 by BEZ

making request...
Done

looking for ASTRAZ...
matched to 4295894341 by AZN

making request...
Done

looking for PERSHI...
matched to 5039731355 by PSH

making request...
Done

looking for GSK PL...
matched to 4295895781 by GSK

making request...
Done

looking for PEARSO...
matched to 4295894824 by PSON

making request...
Done

looking for BT GRO...
matched to 4295895409 by BT.A

making request...
Done

looking for SHELL ...
matched to 4295885922 by SHEL

making request...
request failed missing value for SHELL

looking for DIAGEO...
matched to 4295894791 by DGE

making request...
Done

looking for 3I GRO...
matched to 4295895807 by III

making request...
Done

looking for ENTAIN...
matched to 5001428097 by ENT

making request...
Done

looking for PRUDEN...
matched to 4295901925 by PRU

making request...
request failed missing value for PRUDEN

looking for SMITH ...
matched to 4295894074 by SMDS

making request...
Done

looking for ABRDN ...
matched to 4295897744 by ABDN

making request...
Done

looking for ST.JAM...
mission value for ST.JAM

looking for UNITED...
matched to 5000039682 by UU.

making request...
Done

looking for BP PLC...
matched to 4295894740 by BP.

making request...
Done

looking for SMITH ...
matched to 4295894074 by SMDS

making request...
Done

looking for ABRDN ...
matched to 4295897744 by ABDN

making request...
Done

looking for SCHROD...
matched to 4295895179 by SDR

making request...
Done

looking for COCA-C...
mission value for COCA-C

looking for SEVERN...
matched to 4295896619 by SVT

making request...
Done

looking for PERSIM...
matched to 4295894068 by PSN

making request...
Done

looking for RELX P...
matched to 4295894769 by REL

making request...
Done

looking for M&G PL...
matched to 4295884523 by MNG

making request...
Done

looking for SAGE G...
matched to 4295898763 by SGE

making request...
Done

looking for F&C IN...
matched to 4295894991 by FCIT

making request...
Done

looking for BERKEL...
matched to 4295893899 by BKG

making request...
Done

looking for INFORM...
matched to 5044095778 by INF

making request...
Done

looking for INTL C...
mission value for INTL C

looking for PRUDEN...
matched to 4295901925 by PRU

making request...
request failed missing value for PRUDEN

looking for COMPAS...
matched to 4295895403 by CPG

making request...
Done

looking for WEIR G...
matched to 4295895858 by WEIR

making request...
Done

looking for BT GRO...
matched to 4295895409 by BT.A

making request...
Done

looking for EXPERI...
matched to 4295894507 by EXPN

making request...
Done

looking for SMITH ...
mission value for SMITH

looking for DCC PL...
matched to 4295874865 by DCC

making request...
Done

looking for WPP PL...
matched to 5037958512 by WPP

making request...
Done

looking for TESCO ...
matched to 4295895258 by TSCO

making request...
Done

looking for INTERC...
matched to 4295894762 by IHG

making request...
Done

looking for 3I GRO...
matched to 4295895807 by III

making request...
Done

looking for RIO TI...
matched to 4295856917 by RIO

making request...
request failed missing value for RIO TI

looking for SPIRAX...
matched to 4295894930 by SPX

making request...
Done

looking for FRESNI...
matched to 4298007715 by FRES

making request...
request failed missing value for FRESNI

looking for SAINSB...
matched to 4295895145 by SBRY

making request...
Done

looking for CRODA ...
matched to 4295894667 by CRDA

making request...
Done

looking for AUTO T...
matched to 5045390794 by AUTO

making request...
Done

looking for TAYLOR...
mission value for TAYLOR

looking for LONDON...
matched to 4298007752 by LSEG

making request...
Done

looking for UNILEV...
matched to 4295894770 by ULVR

making request...
Done

looking for RENTOK...
matched to 4295894497 by RTO

making request...
Done

looking for HSBC H...
matched to 8589934275 by HSBA

making request...
Done

looking for BUNZL ...
matched to 4295894970 by BNZL

making request...
Done

looking for RECKIT...
matched to 4295894756 by RKT

making request...
Done

looking for CRH PL...
matched to 4295874867 by CRH

making request...
Done

looking for HISCOX...
matched to 4295894847 by HSX

making request...
Done

looking for BARRAT...
matched to 4295894951 by BDEV

making request...
Done

looking for GLENCO...
matched to 5034844193 by GLEN

making request...
Done

looking for RIGHTM...
matched to 4295899077 by RMV

making request...
Done

looking for FLUTTE...
matched to 4295874940 by FLTR

making request...
Done

looking for SMITHS...
matched to 4295895196 by SMIN

making request...
Done

looking for CONVAT...
matched to 5052150231 by CTEC

making request...
Done

looking for ASSOCI...
matched to 4295894968 by ABF

making request...
Done

looking for HALEON...
matched to 5081488120 by HLN

making request...
Done

looking for ANTOFA...
matched to 4295898060 by ANTO

making request...
Done

looking for ROLLS-...
matched to 5033562382 by RR.

making request...
Done

looking for HALMA ...
matched to 4295895428 by HLMA

making request...
Done

looking for ASHTEA...
matched to 4295898044 by AHT

making request...
Done

looking for NEXT P...
matched to 4295895761 by NXT

making request...
Done

looking for BAE SY...
matched to 5000001291 by BA.

making request...
Done

looking for BURBER...
matched to 4295897734 by BRBY

making request...
Done

looking for JD SPO...
matched to 4295894669 by JD.

making request...
Done

looking for FRASER...
matched to 4295898967 by FRAS

making request...
Done

looking for RS GRO...
matched to 4295895749 by RS1

making request...
Done

looking for B&M EU...
matched to 5046710605 by BME

making request...
request failed missing value for B&M EU

In [113]:
data_df=pd.concat(data)
len(data_df.ticker_.unique())

83

In [115]:
data_df.reset_index()

,Y,buzz_News,buzz_News_Headline,buzz_News_Social,buzz_Social,innovation_News,innovation_News_Headline,innovation_News_Social,innovation_Social,laborDispute_News,...,layoffs_Social,managementTrust_News,managementTrust_News_Headline,managementTrust_News_Social,managementTrust_Social,mentions_News,mentions_News_Headline,mentions_News_Social,mentions_Social,ticker_
0,2022,1498.70,63.0,1879.70,381.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.166667,0.000000,0.166667,0.000000,620.0,47.0,982.0,362.0,LAND
1,2023,934.00,13.0,979.00,45.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.176471,0.000000,0.200000,0.200000,469.0,27.0,483.0,14.0,LAND
2,2022,15537.50,705.5,20170.60,4633.1,0.090909,0.142857,0.125000,0.142857,0.000000,...,0.095238,0.090909,0.000000,0.047619,0.041667,3712.0,317.0,5664.0,1952.0,BLND
3,2023,7463.60,236.5,8992.50,1528.9,0.333333,0.000000,0.072727,0.062500,0.000000,...,0.019231,0.047059,0.000000,0.042105,0.000000,1909.0,120.0,2382.0,473.0,BLND
4,2022,72534.15,1474.0,85237.55,12703.4,0.025316,0.000000,0.025000,0.080000,0.009852,...,0.000000,0.117073,0.066667,0.081911,0.060606,12377.0,583.0,16391.0,4014.0,HL.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,2023,999.00,57.5,1136.50,137.5,0.000000,0.000000,0.000000,0.000000,0.051282,...,0.000000,0.102564,0.000000,0.102564,0.000000,249.0,28.0,305.0,56.0,JD.
170,2022,5225.00,149.0,9060.50,3835.5,0.333333,0.000000,0.333333,0.018868,0.072289,...,0.000000,0.105263,0.000000,0.108108,0.153846,1614.0,148.0,1975.0,361.0,FRAS
171,2023,597.50,24.0,1155.50,558.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.034483,0.034483,296.0,27.0,339.0,43.0,FRAS
172,2022,4850.95,223.0,5122.95,272.0,0.056338,0.000000,0.066667,0.066667,0.000000,...,0.000000,0.016878,0.000000,0.016750,0.000000,1054.0,122.0,1290.0,236.0,RS1
173,2023,1185.00,64.5,1641.00,456.0,0.000000,0.000000,0.002375,0.002375,0.000000,...,0.000000,0.030303,0.000000,0.030303,0.001188,443.0,59.0,471.0,28.0,RS1

In [ ]:
FTSE100_data=pd.read_csv(datapath+'FTSE100.csv')z