In [1]:
import pandas as pd
import numpy as np
import requests
import os
from tqdm.auto import tqdm

## Trying different APIs for More News

In [2]:
import http.client, urllib.parse

conn = http.client.HTTPConnection('api.mediastack.com')

params = urllib.parse.urlencode({
    'access_key': '36907c284f0106194cf272eb9047f78e',
    'categories': 'general,business',
    'languages':'en', 
    'keywords': 'barclays',
    'sort': 'published_desc',
    'date': '2020-01-01',
    'limit': 100,
    })

conn.request('GET', '/v1/news?{}'.format(params))

res = conn.getresponse()
data = res.read()

print(data.decode('utf-8'))

{"pagination":{"limit":100,"offset":0,"count":0,"total":0},"data":[]}

In [3]:
from newsdataapi import NewsDataApiClient

# API key authorization, Initialize the client with your API key

api = NewsDataApiClient(apikey="pub_227206dfcfa6f8eb6adf487011cc264a18194")

# You can pass empty or with request parameters {ex. (country = "us")}

response = api.news_api( q= "barclays", category='environment,business' , country = "us", from_date='2020-01-01', to_date='2020-02-01')

TypeError: news_api() got an unexpected keyword argument 'from_date'

In [ ]:
response

# Market Psych

In [4]:
url = 'https://dataapi.marketpsych.com/rma/v4/classes?apikey=rf_0niuaILLziXUW8RI0Bg'
requests.get(url).json()

{'data': [{'code': 'cou', 'name': 'Countries', 'altcode': 'COU'},
  {'code': 'coumkt', 'name': 'Country markets', 'altcode': 'COU_MKT'},
  {'code': 'equ', 'name': 'Companies', 'altcode': 'CMPNY'},
  {'code': 'equamer', 'name': 'Companies (Americas)', 'altcode': 'CMPNY_AMER'},
  {'code': 'equemea',
   'name': 'Companies (Europe, the Middle East and Africa)',
   'altcode': 'CMPNY_EMEA'},
  {'code': 'equapac',
   'name': 'Companies (Asia-Pacific)',
   'altcode': 'CMPNY_APAC'},
  {'code': 'etf', 'name': 'Company Groups', 'altcode': 'CMPNY_GRP'},
  {'code': 'agr', 'name': 'Agriculture', 'altcode': 'COM_AGR'},
  {'code': 'enm', 'name': 'Energy and Material', 'altcode': 'COM_ENM'},
  {'code': 'cur', 'name': 'Currencies', 'altcode': 'CUR'},
  {'code': 'crypto', 'name': 'Cryptocurrencies', 'altcode': 'CRYPTO'}]}

In [5]:
url = 'https://dataapi.marketpsych.com/rma/v4/data/equ/dai/4295905573?apikey=rf_demo12345678&start_date=2022-02-03&end_date=2022-02-04&format=csv'
pd.read_csv(url).drop(columns='id')

,assetCode,ticker,windowTimestamp,dataType,systemVersion,mentions,buzz,sentiment,negative,positive,...,layoffs,litigation,insiderLongShort,managementSentiment,managementChange,managementTrust,partnership,mergers,cyberCrime,futureVsPast
0,4295905573,AAPL,2022-02-03T20:30:00+00:00,News,4.0.12,4933.0,24841.6,-0.096330,0.293037,0.196706,...,NaN,0.007789,NaN,-0.001429,0.000322,0.000302,0.000362,0.000242,0.005897,-0.236861
1,4295905573,AAPL,2022-02-03T20:30:00+00:00,News_Headline,4.0.12,201.0,507.5,0.027586,0.271921,0.299507,...,NaN,0.025616,NaN,0.001970,NaN,NaN,NaN,0.001970,0.005911,-0.295567
2,4295905573,AAPL,2022-02-03T20:30:00+00:00,News_Social,4.0.12,9486.0,40046.1,-0.082225,0.289112,0.206887,...,0.000025,0.005369,0.000025,-0.000749,0.000325,0.000200,0.000387,0.000812,0.003871,-0.161128
3,4295905573,AAPL,2022-02-03T20:30:00+00:00,Social,4.0.12,4553.0,15204.5,-0.059180,0.282699,0.223519,...,0.000066,0.001414,0.000066,0.000362,0.000329,0.000033,0.000428,0.001743,0.000559,-0.037394

In [6]:
intro ="https://dataapi.marketpsych.com/rma/v4/data"
asset_class = "equemea"
freq = 'dai'
apikey= 'rf_0niuaILLziXUW8RI0Bg'
start_date='2022-01-01'
end_date='2023-05-23'
format_='csv'

## process

In [146]:
name=loop_dax40[0]['company_aprox']
name_search_url = 'https://dataapi.marketpsych.com/rma/v4/equ/assets?apikey=rf_demo12345678&search=' + name
name_guess_json=requests.get(name_search_url).json()
name_guess_pd=pd.DataFrame(name_guess_json['data'])

In [147]:
name_guess_json

{'data': [{'assetCode': '4295868725',
   'name': 'Adidas AG',
   'RIC': 'ADSGn.DE',
   'version': '4.0.28',
   'filedate': '2023-05-13',
   'PermID': '4295868725',
   'TRBC': '5320203014',
   'TRBC_PermID': '4294951653',
   'TRBCEconomicSector': 'Consumer cyclicals',
   'Ticker': 'ADS',
   'MIC': 'XETA',
   'Domicile': 'DE',
   'ExchangeCountry': 'DE',
   'ExchangeCode': '78',
   'InfoCode': '42101',
   'Region': 'EMEA',
   'status': 'active'}]}

In [11]:
options=name_guess_pd['name']

In [12]:
name_guess_pd

,assetCode,name,RIC,version,filedate,PermID,TRBC,TRBC_PermID,TRBCEconomicSector,Ticker,MIC,Domicile,ExchangeCountry,ExchangeCode,InfoCode,Region,status
0,5000615107,Barclays Advantaged Corporate Bond Fund,BAC_u.TO^G08,4.0.28,2023-05-13,5000615107,5550101010,4294951310,Financials,BAC.UN,None,CA,CA,197,63272,AMER,inactive
1,5000005399,Barclays Bank Ireland PLC,None,4.0.28,2023-05-13,5000005399,5510101010,4294951386,Financials,None,None,IE,None,0,0,EMEA,active
2,4296470941,Barclays Bank PLC,None,4.0.28,2023-05-13,4296470941,5510101010,4294951386,Financials,PBUG,ARCX,GB,US,244,340991,EMEA,active
3,5000125600,Barclays Capital Asia Ltd,None,4.0.28,2023-05-13,5000125600,5510203010,4294951354,Financials,None,None,HK,None,0,0,APAC,active
4,5000206989,Barclays Capital Canada Inc,None,4.0.28,2023-05-13,5000206989,5510203010,4294951354,Financials,None,None,CA,None,0,0,AMER,active
5,8589934333,Barclays PLC,BARC.L,4.0.28,2023-05-13,8589934333,5510101010,4294951386,Financials,BARC,XLON,GB,GB,104,46028,EMEA,active
6,5000021667,Barclays Securities Japan Ltd,None,4.0.28,2023-05-13,5000021667,5510201010,4294951368,Financials,None,None,JP,None,0,0,APAC,active
7,5000708715,Barclays Wealth Trustees (India) Pvt Ltd,None,4.0.28,2023-05-13,5000708715,0,0,None,None,None,IN,None,0,0,APAC,active

In [13]:
user_input = ''

input_message = "Pick an option by typing the number:\n"

for index, item in enumerate(options):
    input_message += f'{index+1}) {item}\n'

input_message += 'Your choice: '

while user_input not in map(str, range(1, len(options) + 1)):
    user_input = input(input_message)

    
print('You picked: ' + options[int(user_input) - 1])

name_guess=options[int(user_input) - 1]

Pick an option by typing the number:
1) Barclays Advantaged Corporate Bond Fund
2) Barclays Bank Ireland PLC
3) Barclays Bank PLC
4) Barclays Capital Asia Ltd
5) Barclays Capital Canada Inc
6) Barclays PLC
7) Barclays Securities Japan Ltd
8) Barclays Wealth Trustees (India) Pvt Ltd
Your choice: 3
You picked: Barclays Bank PLC

In [143]:
loop_dax40[0]['company_aprox']

'Adidas'

In [144]:
loop_dax40[0]['ticker']

'ADS'

In [145]:
ticker_=loop_dax40[0]['ticker']

In [16]:
asset_code=name_guess_pd[name_guess_pd['Ticker']==ticker_].reset_index()['assetCode'][0]

In [17]:
asset_code

'8589934333'

In [18]:
url = f'{intro}/{asset_class}/{freq}/{asset_code}?apikey={apikey}&start_date={start_date}&end_date={end_date}&format={format_}'
req=requests.get(url)

In [19]:
df=pd.read_csv(url)

In [20]:
df['Y']=df['windowTimestamp'].str[:4]

In [21]:
df

,id,assetCode,ticker,windowTimestamp,dataType,systemVersion,mentions,buzz,sentiment,negative,...,litigation,insiderLongShort,managementSentiment,managementChange,managementTrust,partnership,mergers,cyberCrime,futureVsPast,Y
0,mp:2022-01-01_20.30.00.News.CMPNY.8589934333,8589934333,BARC,2022-01-01T20:30:00+00:00,News,4.0.11,2.0,14.0,0.500000,0.142857,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.428571,2022
1,mp:2022-01-01_20.30.00.News_Headline.CMPNY.858...,8589934333,BARC,2022-01-01T20:30:00+00:00,News_Headline,4.0.11,1.0,3.0,1.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
2,mp:2022-01-01_20.30.00.News_Social.CMPNY.85899...,8589934333,BARC,2022-01-01T20:30:00+00:00,News_Social,4.0.11,42.0,124.0,0.213710,0.165323,...,0.008065,NaN,-0.008065,0.016129,NaN,NaN,NaN,NaN,-0.346774,2022
3,mp:2022-01-01_20.30.00.Social.CMPNY.8589934333,8589934333,BARC,2022-01-01T20:30:00+00:00,Social,4.0.11,40.0,110.0,0.177273,0.168182,...,0.009091,NaN,-0.009091,0.018182,NaN,NaN,NaN,NaN,-0.336364,2022
4,mp:2022-01-02_20.30.00.News_Social.CMPNY.85899...,8589934333,BARC,2022-01-02T20:30:00+00:00,News_Social,4.0.11,69.0,208.0,-0.194712,0.334135,...,0.014423,NaN,-0.014423,0.019231,-0.009615,NaN,NaN,NaN,-0.141827,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1948,mp:2023-05-21_19.30.00.Social.CMPNY.8589934333,8589934333,BARC,2023-05-21T19:30:00+00:00,Social,4.0.28,106.0,405.5,0.083847,0.254007,...,0.004932,NaN,0.001233,NaN,NaN,NaN,NaN,0.002466,-0.167694,2023
1949,mp:2023-05-22_19.30.00.News.CMPNY.8589934333,8589934333,BARC,2023-05-22T19:30:00+00:00,News,4.0.28,144.0,602.5,0.141079,0.198340,...,NaN,NaN,NaN,NaN,NaN,NaN,0.003320,NaN,-0.301245,2023
1950,mp:2023-05-22_19.30.00.News_Headline.CMPNY.858...,8589934333,BARC,2023-05-22T19:30:00+00:00,News_Headline,4.0.28,22.0,19.0,-0.078947,0.342105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.026316,2023
1951,mp:2023-05-22_19.30.00.News_Social.CMPNY.85899...,8589934333,BARC,2023-05-22T19:30:00+00:00,News_Social,4.0.28,292.0,1162.0,0.045611,0.243976,...,NaN,NaN,-0.001721,NaN,0.000000,NaN,0.001721,NaN,-0.280981,2023
1952,mp:2023-05-22_19.30.00.Social.CMPNY.8589934333,8589934333,BARC,2023-05-22T19:30:00+00:00,Social,4.0.28,148.0,559.5,-0.057194,0.293119,...,NaN,NaN,-0.003575,NaN,0.000000,NaN,NaN,NaN,-0.259160,2023

In [22]:
result=pd.pivot_table(df.fillna(0), 
               index='Y', 
               columns='dataType', 
               values= ['laborDispute',
                      'layoffs',
                      'managementTrust', 
                      'innovation',
                      'mentions',
                      'buzz'],
               aggfunc={'laborDispute': np.max, 
                        'layoffs': np.max, 
                        'managementTrust': np.max, 
                        'innovation': np.max,
                        'mentions': np.sum,
                        'buzz': np.sum}
              )

In [23]:
result

               buzz                                      innovation  \
dataType       News News_Headline News_Social     Social       News
Y
2022      163310.95      11334.55    321288.8  157977.85   0.048426
2023       78900.70       4660.20    144473.1   65572.40   0.019231

                                             laborDispute                ...  \
dataType News_Headline News_Social    Social         News News_Headline  ...
Y                                                                        ...
2022          0.035714    0.016913  0.012500     0.027548      0.033333  ...
2023          0.013072    0.008229  0.019417     0.015662      0.041667  ...

             layoffs           managementTrust                            \
dataType News_Social    Social            News News_Headline News_Social
Y
2022        0.021955  0.021724        0.055300      0.057143    0.027125
2023        0.006993  0.025852        0.015456      0.000000    0.019538

                   mentions
dataType    Social     News News_Headline News_Social   Social
Y
2022      0.044177  25685.0        5761.0     73377.0  47692.0
2023      0.029254  13219.0        2648.0     30780.0  17561.0

[2 rows x 24 columns]

## Function

In [123]:
def Market_psych_data(company, tick):
    
    #presetings for the API
    intro ="https://dataapi.marketpsych.com/rma/v4/data"
    asset_class = "equ"
    freq = 'dai'
    apikey= 'rf_0niuaILLziXUW8RI0Bg'
    start_date='2022-01-01'
    end_date='2023-05-23'
    format_='csv'
    
    #Search the company to get the asset code
    print(f'looking for {company}...')
    name_search_url = 'https://dataapi.marketpsych.com/rma/v4/equ/assets?apikey=rf_demo12345678&search=' + company
    name_guess_json=requests.get(name_search_url).json()
    name_guess_pd=pd.DataFrame(name_guess_json['data'])
    if len(name_guess_pd)==0:
        print(f'mission value for {company}\n')
    else:
        #we match by Ticker
        if len(name_guess_pd[name_guess_pd['Ticker']==tick])==0:
            print(f'mission value for {company}\n')
        else:
            asset_code=name_guess_pd[name_guess_pd['Ticker']==tick].reset_index()['assetCode'][0]
            print(f'matched to {asset_code} by {tick} \n ')

            #we build the url for the request of sentiment info
            url = f'{intro}/{asset_class}/{freq}/{asset_code}?apikey={apikey}&start_date={start_date}&end_date={end_date}&format={format_}'
            print('making request...')
            #get the request and turn it into a DataFrame
            req=requests.get(url)
            if req.status_code != 200:
                print(f'request failed missing value for {company} \n ')
            else:
                df=pd.read_csv(url)
                print('Done \n ')

                #group by year
                df['Y']=df['windowTimestamp'].str[:4]
                result=pd.pivot_table(df.fillna(0), 
                           index='Y', 
                           columns='dataType', 
                           values= ['laborDispute',
                                  'layoffs',
                                  'managementTrust', 
                                  'innovation',
                                  'mentions',
                                  'buzz'],
                           aggfunc={'laborDispute': np.max, 
                                    'layoffs': np.max, 
                                    'managementTrust': np.max, 
                                    'innovation': np.max,
                                    'mentions': np.sum,
                                    'buzz': np.sum}
                          )
                result['ticker']=tick

                colu=[ (c[0]+'_'+c[1]).replace(' ','') 
                      for c in result.columns.tolist()]
                result.columns=colu

                return result

## Test

In [25]:
datapath=os.getcwd()[:-len('notebook')] + "data/"
FTSE100_data=pd.read_csv(datapath+'FTSE100.csv')

In [124]:
loop_ftse=[dict({'company_aprox':FTSE100_data['Name'].str[:6][x],
                 'ticker':FTSE100_data.Ticker[x]}
               )for x in range(len(FTSE100_data))]

In [133]:
f100_data=pd.read_csv(datapath+'fortune100.csv')

loop_f100=[dict({'company_aprox':f100_data['Company'].str[:6][x],
                 'ticker':f100_data.Symbol[x]}
               )for x in range(len(f100_data))]

Market_psych_data(loop_f100[33]['company_aprox'], loop_f100[33]['ticker'] )

looking for Accent...
matched to 4295903017 by ACN

making request...
Done

,buzz_News,buzz_News_Headline,buzz_News_Social,buzz_Social,innovation_News,innovation_News_Headline,innovation_News_Social,innovation_Social,laborDispute_News,laborDispute_News_Headline,...,layoffs_Social,managementTrust_News,managementTrust_News_Headline,managementTrust_News_Social,managementTrust_Social,mentions_News,mentions_News_Headline,mentions_News_Social,mentions_Social,ticker_
Y,,,,,,,,,,,,,,,,,,,,,
2022,43795.75,1917.2,91594.4,47798.65,0.105263,0.000000,0.040268,0.090909,0.000000,0.0,...,0.021739,0.060606,0.0,0.057613,0.057613,12108.0,992.0,20184.0,8076.0,ACN
2023,31354.70,860.5,34998.2,3643.50,0.021352,0.142857,0.125000,0.125000,0.005464,0.0,...,0.307692,0.035088,0.0,0.031746,0.037500,8164.0,605.0,9581.0,1417.0,ACN

In [139]:
dax40_data=pd.read_csv(datapath+'DAX 40 - Hoja 1.csv')

loop_dax40=[dict({'company_aprox':dax40_data['Company'].str[:6][x],
                 'ticker':dax40_data.Ticker[x]}
               )for x in range(len(dax40_data))]

Market_psych_data(loop_dax40[33]['company_aprox'], loop_dax40[33]['ticker'] )

looking for Siemen...
matched to 4295869238 by SIE

making request...
Done

,buzz_News,buzz_News_Headline,buzz_News_Social,buzz_Social,innovation_News,innovation_News_Headline,innovation_News_Social,innovation_Social,laborDispute_News,laborDispute_News_Headline,...,layoffs_Social,managementTrust_News,managementTrust_News_Headline,managementTrust_News_Social,managementTrust_Social,mentions_News,mentions_News_Headline,mentions_News_Social,mentions_Social,ticker_
Y,,,,,,,,,,,,,,,,,,,,,
2022,167685.55,6586.9,223290.1,55604.55,0.054054,1.000000,0.046455,0.080000,0.016362,0.0,...,0.026316,0.151579,0.090909,0.138996,0.149254,53606.0,4978.0,68299.0,14693.0,SIE
2023,65828.40,2676.0,82530.0,16701.60,0.029730,0.166667,0.025316,0.037037,0.003925,0.0,...,0.016949,0.052632,0.000000,0.014035,0.040816,20607.0,1764.0,26265.0,5658.0,SIE

In [134]:
data_f100=[Market_psych_data(loop_f100[n]['company_aprox'],
                        loop_f100[n]['ticker'] ) 
          for n in tqdm(range(len(loop_f100)))]

  0%|          | 0/100 [00:00<?, ?it/s]

looking for Apple ...
matched to 4295905573 by AAPL

making request...
Done

looking for Micros...
matched to 4295907168 by MSFT

making request...
Done

looking for Amazon...
matched to 4295905494 by AMZN

making request...
Done

looking for Nvidia...
matched to 4295914405 by NVDA

making request...
Done

looking for Alphab...
matched to 5030853586 by GOOGL

making request...
Done

looking for Alphab...
mission value for Alphab

looking for Berksh...
mission value for Berksh

looking for Meta P...
matched to 4297297477 by META

making request...
Done

looking for Tesla ...
matched to 4297089638 by TSLA

making request...
Done

looking for United...
matched to 5046300101 by UNH

making request...
Done

looking for Exxon ...
matched to 4295912121 by XOM

making request...
Done

looking for Johnso...
matched to 4295904341 by JNJ

making request...
Done

looking for Jpmorg...
matched to 5000021791 by JPM

making request...
Done

looking for Visa I...
matched to 4298015179 by V

making request...
Done

looking for Procte...
matched to 4295903247 by PG

making request...
Done

looking for Eli Li...
matched to 4295904414 by LLY

making request...
Done

looking for Master...
matched to 4295902520 by MA

making request...
Done

looking for Home D...
matched to 4295903148 by HD

making request...
Done

looking for Merck ...
matched to 4295904886 by MRK

making request...
Done

looking for Broadc...
matched to 5060689053 by AVGO

making request...
Done

looking for Chevro...
matched to 4295903744 by CVX

making request...
Done

looking for Pepsic...
matched to 4295904718 by PEP

making request...
Done

looking for Abbvie...
matched to 5037613143 by ABBV

making request...
Done

looking for Coca C...
mission value for Coca C

looking for Pfizer...
matched to 4295904722 by PFE

making request...
Done

looking for Costco...
matched to 4295912987 by COST

making request...
Done

looking for Mcdona...
matched to 4295904499 by MCD

making request...
Done

looking for Salesf...
matched to 4295915633 by CRM

making request...
Done

looking for Walmar...
matched to 4295905298 by WMT

making request...
Done

looking for Thermo...
matched to 4295905068 by TMO

making request...
Done

looking for Cisco ...
matched to 5080018615 by CSCO

making request...
Done

looking for Bank o...
matched to 8589934339 by BAC

making request...
Done

looking for Abbott...
matched to 4295903265 by ABT

making request...
Done

looking for Accent...
matched to 4295903017 by ACN

making request...
Done

looking for Linde ...
mission value for Linde

looking for Advanc...
matched to 4295903297 by AMD

making request...
Done

looking for Comcas...
matched to 4295908573 by CMCSA

making request...
Done

looking for Adobe ...
matched to 4295905431 by ADBE

making request...
Done

looking for Walt D...
matched to 5064610769 by DIS

making request...
Done

looking for Netfli...
matched to 4295902158 by NFLX

making request...
Done

looking for Wells ...
matched to 8589934175 by WFC

making request...
Done

looking for Texas ...
matched to 4295905063 by TXN

making request...
Done

looking for Oracle...
matched to 4295907485 by ORCL

making request...
Done

looking for Verizo...
matched to 4295911976 by VZ

making request...
Done

looking for Danahe...
matched to 4295903833 by DHR

making request...
Done

looking for Nexter...
matched to 4295903955 by NEE

making request...
Done

looking for Philip...
matched to 4298015178 by PM

making request...
Done

looking for Bristo...
matched to 4295903619 by BMY

making request...
Done

looking for Raythe...
matched to 4295905180 by RTX

making request...
Done

looking for Nike I...
matched to 4295904620 by NKE

making request...
Done

looking for Honeyw...
matched to 4295912155 by HON

making request...
Done

looking for Conoco...
matched to 4295903051 by COP

making request...
Done

looking for Lowe S...
mission value for Lowe S

looking for United...
matched to 4295912318 by UPS

making request...
Done

looking for Intel ...
matched to 4295906830 by INTC

making request...
Done

looking for Amgen ...
matched to 4295905537 by AMGN

making request...
Done

looking for Union ...
matched to 4295905161 by UNP

making request...
Done

looking for Intuit...
matched to 4295906862 by INTU

making request...
Done

looking for S&p Gl...
matched to 4295904495 by SPGI

making request...
Done

looking for Medtro...
matched to 5043331632 by MDT

making request...
Done

looking for Qualco...
matched to 4295907706 by QCOM

making request...
Done

looking for Starbu...
matched to 4295908005 by SBUX

making request...
Done

looking for At&t I...
matched to 4295904853 by T

making request...
Done

looking for Intl B...
mission value for Intl B

looking for Boeing...
matched to 4295903076 by BA

making request...
Done

looking for Prolog...
matched to 4295903263 by PLD

making request...
Done

looking for Genera...
matched to 4295903128 by GE

making request...
Done

looking for Caterp...
matched to 4295903678 by CAT

making request...
Done

looking for Elevan...
matched to 4295901784 by ELV

making request...
Done

looking for Goldma...
matched to 4295911963 by GS

making request...
Done

looking for Morgan...
matched to 4295904557 by MS

making request...
Done

looking for Intuit...
matched to 4295913928 by ISRG

making request...
Done

looking for Mondel...
matched to 4295899791 by MDLZ

making request...
Done

looking for Lockhe...
matched to 5000069094 by LMT

making request...
Done

looking for Applie...
matched to 4295905583 by AMAT

making request...
Done

looking for Servic...
matched to 5000388033 by NOW

making request...
Done

looking for Bookin...
matched to 4295914598 by BKNG

making request...
Done

looking for Gilead...
matched to 4295906595 by GILD

making request...
Done

looking for Blackr...
matched to 4295900990 by BLK

making request...
Done

looking for Deere ...
matched to 4295903104 by DE

making request...
Done

looking for Stryke...
matched to 4295904996 by SYK

making request...
Done

looking for Americ...
matched to 4295903329 by AXP

making request...
Done

looking for Tjx Co...
matched to 4295905029 by TJX

making request...
Done

looking for Automa...
matched to 4295903514 by ADP

making request...
Done

looking for Cvs He...
matched to 4295903627 by CVS

making request...
Done

looking for Analog...
matched to 4295903393 by ADI

making request...
Done

looking for Citigr...
matched to 8589934316 by C

making request...
Done

looking for Vertex...
matched to 4295908317 by VRTX

making request...
Done

looking for Marsh ...
matched to 4295904476 by MMC

making request...
Done

looking for Americ...
matched to 4295903388 by AMT

making request...
Done

looking for T Mobi...
mission value for T Mobi

looking for Chubb ...
matched to 4295903107 by CB

making request...
Done

looking for Altria...
matched to 4295903207 by MO

making request...
Done

looking for Schwab...
matched to 8589934318 by SCHW

making request...
Done

looking for Regene...
matched to 4295907752 by REGN

making request...
Done

looking for Zoetis...
matched to 5037658928 by ZTS

making request...
Done

looking for Southe...
matched to 4295903239 by SO

making request...
Done

looking for Progre...
matched to 4295904769 by PGR

making request...
Done

looking for Lam Re...
matched to 4295906961 by LRCX

making request...
Done

looking for Cigna ...
matched to 5063766000 by CI

making request...
Done

In [140]:
data_dax40=[Market_psych_data(loop_dax40[n]['company_aprox'],
                        loop_dax40[n]['ticker'] ) 
          for n in tqdm(range(len(loop_dax40)))]

  0%|          | 0/40 [00:00<?, ?it/s]

looking for Adidas...
matched to 4295868725 by ADS

making request...
Done

looking for Airbus...
matched to 4295884955 by AIR

making request...
Done

looking for Allian...
matched to 4295870171 by ALV

making request...
Done

looking for Basf S...
matched to 4295869198 by BAS

making request...
Done

looking for Bayer ...
matched to 4295869217 by BAYN

making request...
Done

looking for Bayeri...
matched to 4295869227 by BMW

making request...
Done

looking for Beiers...
matched to 4295869070 by BEI

making request...
Done

looking for Brennt...
matched to 5059963032 by BNR

making request...
Done

looking for Contin...
matched to 4295869236 by CON

making request...
Done

looking for Covest...
matched to 5046707555 by 1COV

making request...
Done

looking for Deutsc...
matched to 4295869482 by DBK

making request...
Done

looking for Deutsc...
matched to 4298007872 by DB1

making request...
Done

looking for Deutsc...
matched to 4295869983 by DPW

making request...
Done

looking for Deutsc...
matched to 4295870332 by DTE

making request...
Done

looking for Deutsc...
matched to 5062386053 by DWNI

making request...
Done

looking for E. On ...
mission value for E. On

looking for Fresen...
matched to 4295869203 by FME

making request...
Done

looking for Fresen...
matched to 5001439044 by FRE

making request...
Done

looking for Heidel...
matched to 4295868961 by HEI

making request...
Done

looking for HelloF...
matched to 5056395925 by HFG

making request...
Done

looking for Henkel...
mission value for Henkel

looking for Infine...
matched to 4295870063 by IFX

making request...
Done

looking for Linde ...
mission value for Linde

looking for Merced...
matched to 4295869694 by MBG

making request...
Done

looking for Merck ...
matched to 4295904886 by MRK

making request...
Done

looking for MTU Ae...
matched to 4295868681 by MTX

making request...
Done

looking for Muench...
matched to 4295868986 by MUV2

making request...
Done

looking for Porsch...
matched to 4295869130 by PAH3

making request...
Done

looking for Puma S...
matched to 5035708251 by PUM

making request...
Done

looking for Qiagen...
matched to 4295884717 by QGEN

making request...
Done

looking for RWE AG...
matched to 4295869049 by RWE

making request...
Done

looking for Sap SE...
matched to 5043321284 by SAP

making request...
Done

looking for Sartor...
mission value for Sartor

looking for Siemen...
matched to 4295869238 by SIE

making request...
Done

looking for Siemen...
matched to 5000103308 by ENR

making request...
Done

looking for Siemen...
matched to 5060559444 by SHL

making request...
Done

looking for Symris...
matched to 4295868896 by SY1

making request...
Done

looking for Volksw...
mission value for Volksw

looking for Vonovi...
matched to 5063761614 by VNA

making request...
Done

looking for Zaland...
matched to 5043464296 by ZAL

making request...
Done

In [149]:
data_df=pd.concat(data)
data_df_f100=pd.concat(data_f100)
data_df_dax40=pd.concat(data_dax40)

In [152]:
results_final=pd.concat([data_df,data_df_f100, data_df_dax40]).reset_index()
results_final.to_csv('MPsych.csv')

In [116]:
results_csv=data_df.reset_index()

In [117]:
results_csv.to_csv(datapath+'MarketPsych_results.csv')